!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= "FruttiStore"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application" 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render "layouts/header"
    = render "layouts/alerts"
    %br
    #main-content.row.full-min-height
      = yield
    %footer.row
      .large-12.columns
        %hr
          %p © FruttiStore 2015
    = javascript_include_tag "application"